.modules {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }
  
  .left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem 0;
    width: 5rem;
    height: 100%;
  }
  
  .sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .sidebar-item.active {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .right-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 2rem;
    text-align: center;
  }
  
  .topic-content,
  .quiz-content,
  .assignment-content {
    display: none;
  }
  
  .topic-content h2,
  .quiz-content h2,
  .assignment-content h2 {
    margin-top: 0;
  }
  
  .sidebar-item.active + .right-content .topic-content {
    display: block;
  }
  
  .sidebar-item.active + .right-content .quiz-content {
    display: block;
  }
  
  .sidebar-item.active + .right-content .assignment-content {
    display: block;
  }